* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: white;
  box-shadow: 1px 2px 16px rgb(201, 201, 201);
  
}

.account{
  border: none;
  margin-top: -40px;
  float: right;
  margin-right: 30px;
  /* padding: 8px; */
  margin-right: 90px;

}
.log-out{
  border: none;
  float: right;
  margin-top: -40px;
  margin-right: 40px;

}
.logo {
  padding-top: 20px;
  padding-left: 30px;
  font-family: sans-serif;

}
#add-book {
  margin-left: 47%;
  margin-right: auto;
  margin-top: 5%;
  border: none;
  background: rgba(198, 234, 255, 0.562);
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 6px;
  padding: 10px;
}